* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 13px;
  margin: 0;
  padding: 0;
  min-height: 0;
}

window#waybar {
  background: rgba(40, 40, 40, 0.85);
  border: none;
  margin: 0;
  padding: 0;
}

window#waybar.hidden {
  opacity: 0.2;
}

button {
  box-shadow: inset 0 -1px transparent;
  border: none;
  border-radius: 0;
}

button:hover {
  background: inherit;
  border-top: none;
}

#workspaces button {
  color: #e4e400;
  padding: 0 4px;
  background-color: rgba(0,0,0,0.4);
}

#workspaces button.focused {
  background-color: rgba(0,0,0,0.6);
  color: #f5f5f5;
  border-top: 2px solid #e4e400;
}

#workspaces button.active {
  background-color: rgba(0,0,0,0.8);   
  color: #ffffff;                      
  font-weight: bold;                   
  border-top: 3px solid #e4e400;       
}

#clock,
#battery,
#cpu,
#memory,
#pulseaudio {
  margin: 3px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: transparent;
  color: #ffffff;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  font-size: 12px;
  font-weight: bold;
}

#battery.charging, #battery.plugged {
  color: #26A65B;
  background-color: transparent;
}

#battery.warning:not(.charging) {
  background-color: transparent;
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical:not(.charging) {
  background-color: transparent;
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#pulseaudio.muted {
  background-color: transparent;
  color: #be0000;
  font-weight: bold;
}

#custom-lock {
    color: #ffffff;
    padding: 2px 6px;
    font-size: 16px;
}

#tray > .tray-item {
  padding: 0 4px;
}
